body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}
.bloco {
    text-align: center;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
}
.bloco h1 {
    color: #25d366;
}
p {
    margin: 10px 0;
}
.whatsapp-link {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #25d366;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.whatsapp-link:hover {
    background-color: #1da851;
    transform: scale(1.1);
}

.return {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #555;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.return:hover {
    background-color: #777;
    transform: scale(1.1);
}